.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
}

.select {
  @extend .text-input;
}
#sortSelect {
  @extend .text-input;
  font-size: 20px;
  height: 60px;
}
#notes {
  height: 10rem;
}

#calendar {
  @extend .text-input;
}
