@import './styles/base/settings';
@import './styles/components/box-layout';
@import './styles/components/button';
@import './styles/components/header';
@import './styles/components/content-container';
@import './styles/components/page-header';
@import './styles/components/input-group';
@import './styles/components/inputs';
@import './styles/components/form';
@import './styles/components/visibility';
@import './styles/components/list';
@import './styles/components/loader';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.is-active {
  font-weight: bold;
}
